.bottom{
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}

.info {
    border: 3px solid #73AD21;
}

.header {
    margin: 10px auto;
    padding: 0;
    width: 500px;
    float: none;
    border: 3px solid #7168f3;
}

.wlists {
    border: lightcoral;
}

.card {
    margin: 30px auto;
    width: 90%;
}

.shadow {
    -webkit-box-shadow: 5px 10px 6px -6px #777, 0 5px 10px -3px #777;
    -moz-box-shadow: 5px 10px 6px -6px #777, 0 5px 10px -3px #777;
    box-shadow: 5px 10px 6px -6px #777, 0 5px 10px -3px #777;
}

.header-img {
    margin: 10px auto;
    display: block;
}

.wishlist-img {
    width: 300px !important;
    height: 300px;
    padding: 10px 10px 2px 10px;
}

ul {
    list-style-type: none;
}

nav {
    float: left;
    font-weight: bold;
}

nav button {
    float: left;
    margin: 10px;
    border: 3px solid #7168f3;
    background-color: azure;
    color: #7168f3;
}

nav button:hover {
    background-color: darkgray;
}