<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
    <nav>
        <form action="/"><button>Home</button></form><br>
        <form action="/login"><button>Login</button></form><br>
        <form action="/account/create"><button>Create Account</button></form><br>
    </nav>
    <img src="../static/img/wishlist_logo.png" alt="Logo">
    <h1>Create Account</h1>
    <form method="POST" action="/account/create">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="user">Username:</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass"><br>
        <br>
        <input type="submit" value="Create Account">
    </form>

    {% if create_failed %}
    <p class="error"><strong>{{ message }}</strong></p>
    {% endif %}
    <br><br>
    <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
  </body>
</html>
