<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Home</title>
</head>
<body>
    <nav>
        <form action="/login"><button>Login</button></form><br>
        <form action="/account/create"><button>Create Account</button></form><br>
    </nav>
    <img src="../static/img/wishlist_logo.png" alt="Logo">
    <h1>Home Page</h1>
    {% if messages %}
    <p>{{messages}}</p>
    {% endif %}
</body>
</html>
