<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Login</title>
</head>
<body class="text-center">
    <nav class="header shadow">
        <form action="/"><button>Home</button></form>
        <form action="/login"><button>Login</button></form>
        <form action="/account/create"><button>Create Account</button></form>
        <img src="../static/img/wishlist_logo.png" alt="Logo">
    </nav>

    <div class="card shadow" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form method="POST" action="/login">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input type="text" class="form-control" id="user" name="user">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" class="form-control" id="pass" name="pass">
                </div>

                <input type="submit" value="Login" class="btn btn-outline-info">
            </form>
        </div>
    </div>

    {% if login_failed %}
        <p class="error"><strong>{{ message }}</strong></p>
        <br>
    {% endif %}

    <br>
    <p class="bottom">Dont't have an account?  <a class="bottom" href="{{url_for('create_account')}}"> Sign Up here</a></p>
  </body>
</html>
