<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Profile</title>
</head>
<body class="text-center">
    <nav class="header shadow">
        {% if is_signed_in %}
            <form action="/profile"><button>Profile</button></form>
            <form action="/logout"><button>Logout</button></form>
        {% if i_am_admin %}
            <form action="/admin"><button>Admin</button></form>
        {% endif %}
        {% else %}
            <form action="/"><button>Home</button></form><br>
        {% endif %}
        <img class="header-img" src="../static/img/wishlist_logo.png" alt="Logo">
    </nav>

    <br>
    <h1>Welcome back, {{ user["username"] }}!</h1>
    <h4 class="text-success" id="message-target"></h4>

    <div class="card shadow" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Edit account information:</h5>
            <form method="POST" action="#">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input type="text" class="form-control" id="user" name="user" value="{{ user.username }}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" class="form-control" id="pass" name="pass" value="{{ user.password }}">
                </div>

                <input type="submit" value="Save Changes" class="btn btn-outline-info">
            </form><br>

            <button class="btn btn-danger"
                onclick="make_req('/profile', 'DELETE', 'message-target')">Delete My Account
            </button>
        </div>
    </div>

    <br>
    <div class="wlists">
        {% if has_lists %}
            <h2><a href="wishlist/{{ session.user_id }}.html">{{ user["wishlist_name"] }}</a></h2>
            <ol>
                {%for i in user["wishlist"] %}
                    <li><a href= "wishlist/{{ session.user_id }}/{{i.item}}">{{ i["title"] }}</a></li>
                {%endfor%}
            </ol>
        {% else %}
            <form action="/wishlist/none" method="POST">
                <h2><a href="#">{{ user["wishlist_name"] }}</a></h2>
                <div class="input-group mb-3" style="width: 18rem; margin: 0 auto;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input type="text" class="form-control" name="list_name" value="My List">
                </div>
                <button class="btn btn-outline-info">Create List</button>
            </form>
            <br>
        {% endif %}
    </div>

    <div class="card shadow" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Add a new item:</h5>
            <form method="POST" action="/wishlist/{{ session.user_id }}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Title</span>
                    </div>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <textarea class="form-control" id="description" name="description" rows="4" cols="50"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Url</span>
                    </div>
                    <input type="text" class="form-control" id="url" name="url">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Image Url</span>
                    </div>
                    <input type="text" class="form-control" id="imageurl" name="imageurl">
                </div>

                <input type="submit" value="Add Item" class="btn btn-outline-info">
            </form><br>
        </div>
    </div>

    <script src="../static/js/req.js"></script>
  </body>
</html>
