<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <form action="/"><button>Home</button></form>
        <form action="/login"><button>Login</button></form><br>
        <form action="/account/create"><button>Create Account</button></form><br>
    </nav>

    <img src="../static/img/wishlist_logo.png" alt="Logo">
    <button type="button" formaction="index.html">Logout</button><br>
    <h1>Profile</h1>
    <form action="/profile/edit">
      <input type="submit" value="Edit Profile">
    </form>
  </body>
</html>
