<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <form action="/"><button>Home</button></form>
        <form action="/login"><button>Login</button></form><br>
        <form action="/account/create"><button>Create Account</button></form><br>
    </nav>

    <img src="../static/img/wishlist_logo.png" alt="Logo">
    <form action="/logout"><button>Logout</button></form>
    <br>
    <h1>Welcome back, {{ user["username"] }}!</h1>
    <form method="POST" action="/create_account">
      <label for="email">New Email:</label><br>
      <input type="text" id="email" name="email" value="{{ user["email"] }}"><br>
      <label for="user">New Username:</label><br>
      <input type="text" id="user" name="user" value="{{ user["username"] }}"><br>
      <label for="pass">New Password:</label><br>
      <input type="password" id="pass" name="pass" value="{{ user["password"] }}"><br>
      <br>
      <input type="submit" value="Save Changes"> 
    </form>
    <br>
    <form METHOD="DELETE" action="/profile"><button>Delete Account</button></form>
  </body>
</html>
