<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Profile</title>
</head>
<body class="text-center">
    <nav class="header shadow">
        {% if is_signed_in %}
            <form action="/profile"><button>Profile</button></form>
            <form action="/logout"><button>Logout</button></form>
        {% else %}
            <form action="/"><button>Home</button></form><br>
        {% endif %}
        <img class="header-img" src="../static/img/wishlist_logo.png" alt="Logo">
    </nav><br>

    <h4 class="text-success" id="message-target"></h4>

    <div class="wlists">
        <h2>{{ wishlist.name }}</h2>
        <ol>
            {%for i in wishlist['item_list'] %}
            <li>
                <div class="card shadow" style="width: 300px;">
                    <img class="card-img-top wishlist-img" src="{{i.image}}" alt='{{i.title}}'>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                        <p class="card-text">{{i.description}}</p>
                        <a href="{{i.url}}" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </li>
            {%endfor%}
        </ol>
      </div>

    
        
    <script src="../static/js/req.js"></script>
</body>
</html>
