<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Profile</title>
</head>
<body>
    <nav class="header">
        {% if is_signed_in %}
            <form action="/profile"><button>Profile</button></form>
            <form action="/logout"><button>Logout</button></form>
        {% else %}
            <form action="/"><button>Home</button></form><br>
        {% endif %}
      </nav>

    <img src="../static/img/wishlist_logo.png" alt="Logo">
    <form action="/logout"><button>Logout</button></form>
    <br>
    
</body>