<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Profile</title>
</head>
<body class="text-center">
    <nav class="header">
        {% if is_signed_in %}
            <form action="/profile"><button>Profile</button></form>
            <form action="/logout"><button>Logout</button></form>
        {% else %}
            <form action="/"><button>Home</button></form><br>
        {% endif %}
        <img class="header-img" src="../static/img/wishlist_logo.png" alt="Logo">
    </nav><br>
    <h2>{{ wishlist['item'].title}} </h2>
    <li>
        <div class="card shadow" style="width: 300px;">
            <img class="card-img-top wishlist-img" src="{{wishlist.item.image}}" alt='{{wishlist.item.title}}'>
            <hr>
            <div class="card-body">
                <h5 class="card-title">{{ wishlist['item'].title}}</h5>
                <p class="card-text">{{ wishlist['item'].description}}</p>
                <a href="{{wishlist['item'].url}}" class="btn btn-primary">Link</a>
                {% if is_signed_in %}
                <button class="btn btn-danger"
                onclick="make_req('/wishlist', 'DELETE', 'message-target')">Delete
                </button>
                {% endif %}
            </div>
        </div>
    </li>
    
</body>