<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/App.css" type="text/css">
    <title>Profile</title>
</head>
<body>
    <nav class="header">
        <form action="/"><button>Home</button></form>
        <form action="/login"><button>Login</button></form>
        <form action="/account/create"><button>Create Account</button></form>
        <form action="/profile"><button>Profile</button></form>
      </nav>

    <img src="../static/img/wishlist_logo.png" alt="Logo">
    <form action="/logout"><button>Logout</button></form>
    <br>
    
    <div class="wlists">
        <ol>
          <h2>{{ wishlist.name }}</h2>
          {{wishlist}}
          {%for i in wishlist['item_list'] %}
            <li><a href= "wishlist_item/{{i.item_list}}">{{ i.values() }}</a></li>
          {%endfor%}
        </ol>
      </div>

</body>